project_name          = "mechermes"
environment           = "hml"
cognito_user_pool_arn = "arn:aws:cognito-idp:us-east-1:123456789012:userpool/us-east-1_XXXXXXXXX"
cognito_app_client_id = "1234567890abcdefghijklmnop"
lambda_function_arn   = "arn:aws:lambda:us-east-1:123456789012:function:mechermes-hml-cognito-token-lambda"
lambda_function_name  = "mechermes-hml-cognito-token-lambda"
vpc_id                = "vpc-xxxxxxxxxxxxxxxxx"
private_subnets       = ["subnet-xxxxxxxxxxxxxxxxx", "subnet-yyyyyyyyyyyyyyyyy", "subnet-zzzzzzzzzzzzzzzzz"]
api_backend_sg_id     = "sg-xxxxxxxxxxxxxxxxx"
nlb_listener_arn      = "arn:aws:elasticloadbalancing:us-east-1:123456789012:listener/net/xxxxxxxxx/yyyyyyyyy/zzzzzzzzzz"
nlb_target_port       = 80
